name: Test workflow terraform
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.5
      - uses: actions/checkout@master
      - name: Run terraform init
        run: |
          cd ./tests/inputs/terraform
          terraform init -backend=false
        shell: bash
      - name: Run terraform show and save it as json file
        run: |
          cd ./tests/inputs/terraform
          echo *
          terraform show -json plan.tfplan > $GITHUB_WORKSPACE/tests/inputs/terraform/plan.json
          echo *
        shell: bash
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Terraform plan json
          path: $GITHUB_WORKSPACE/tests/inputs/terraform/plan.json
      - name: Run the action
        uses: ./
        with:
          IACType: terraform
          IACFile: $GITHUB_WORKSPACE/tests/inputs/terraform/plan.json
          CloudProvider: azure
          CARBON_RATE_PROVIDER: electricitymap