name: Test workflow terraform
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.5
          terraform_wrapper: false
      - uses: actions/checkout@master
      - name: Run terraform init (to load the providers which are used by the terraform show command)
        run: |
          cd ./tests/inputs/terraform
          terraform init -backend=false
        shell: bash
      - name: Run terraform show and save it as json file
        run: |
          cd ./tests/inputs/terraform
          echo *
          terraform show -json plan.tfplan > $GITHUB_WORKSPACE/tests/inputs/terraform/intermediate-plan.json
          
          # Delete the first line if it contains "[command]...plan.tfplan"
          sed '1d' $GITHUB_WORKSPACE/tests/inputs/terraform/intermediate-plan.json > $GITHUB_WORKSPACE/tests/inputs/terraform/plan.json
          
          echo *
        shell: bash
      - name: Archive plan.json as a downloadable artifact
        uses: actions/upload-artifact@v3
        with:
          name: Terraform plan json
          path: tests/inputs/terraform/plan.json    
      - name: Archive intermediate-plan as a downloadable artifact
        uses: actions/upload-artifact@v3
        with:
          name: Terraform intermediate-plan json
          path: tests/inputs/terraform/intermediate-plan.json
      - name: Run the action
        uses: ./
        with:
          IACType: terraform
          IACFile: $GITHUB_WORKSPACE/tests/inputs/terraform/plan.json
          CloudProvider: azure
          CARBON_RATE_PROVIDER: electricitymap